<h2>Welcome to Vinyl·Fi!<br>
Please Create an Account!
</h2>
<%= form_with model: @user do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Name" %><br><br>

    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: "Username" %><br><br>

    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: 'Password' %><br><br>
<div>
    <%= f.collection_check_boxes :genre_ids, @genres, :id, :name %><br>
</div>
    <br><%= f.submit 'Sign Up' %>
<% end %>