<h2>
    Welcome, <%= @user.name %>!
</h2>

<h3>
    Username: <%= @user.username %>
</h3>

<h3>
    Your Records: 
    <ul>
        <% if @records.all.count == 0 %>
            <%= 'Sorry, you do not have any records listed.' %>
        <% else %>
            <li><%= link_to @records.first.title, @records.first %></li><br>
        <% end %>
    </ul>

    <%= 'List A Record?' %>
    <%= link_to 'List Record', new_record_path %>

</h3>

<h3>
    Favorite Genres: 
    <ul>
        <% @genres.each do |g| %>
            <li><%= link_to g.name, g %></li><br>
        <% end %>
    </ul>
</h3>