<h2>
    Welcome, <%= @user.name %>!
</h2>

<h5>
    Username: <%= @user.username %>
</h5><br><br>

    <h3>Your Records: </h3><br>
    <ul>
        <% if @records.all.count == 0 %>
            <h5><%= 'Dang! No records listed...yet!' %></h5>
        <% else %>
            <% @records.each do |r| %>
                <li><%= link_to r.title, r %></li>
            <% end %>
        <% end %>
    </ul>
<br>
<br>
    <h3>List a Record <%= link_to 'Here!', new_record_path %></h3>
<br>
<br>
<br>
<h3>
    My Favorite Genres: 
    <ul><br>
        <% @genres.each do |g| %>
            <li><%= link_to g.name, g %></li><br>
        <% end %>
    </ul>
</h3><br>