<h2>
    <%= @record.title %>
</h2>

<h3>
    <%= @record.band %>
</h3>

<h4>
    Release Year: <%= @record.release_date %>
</h4>

<h3>
    Price: $<%= @record.price %>
</h3>

<%= button_to 'Add to Cart', action: 'add_to_cart', method: 'patch' %><br>
<%= button_to 'Leave A Review', new_review_path, method: 'get', params: {record_id: @record.id} %><br>
<%#= button_to 'Purchase', switch_users_path, method: 'patch' %>
<%#= button_to 'Request Trade', action: '/request_trade', method: 'patch' %>