<% @reviews.each do |r| %>
<ul>
    <li><h4><%= r.title %> (<%= r.record.title %>)</h4></li> 
    <p><em><%= r.description %></em></p>
    Rating: <strong><%= r.rating %></strong><br><br><br>
    <em>By: </em><strong><%= r.user.username %></strong>
</ul><br><br><br>
<% end %>