<!DOCTYPE html>
<html>
  <head>
    <title>Vinyl·Fi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <%= error %>
        <% end %>
      <% end %>

      <nav class="navbar justify-align-center navbar-light bg-white">
   <a class="navbar-brand" href="#"><h1><strong><u>Vinyl·Fi®</u></strong></h1></a>
   <a class="navbar-brand" href="#">
    <img src="https://cdn.discordapp.com/attachments/795837119993085976/797034310522896384/IMG_3380.PNG" width="85" height="85" alt="">
  </a>
   <u><ul class="navbar-nav justify-content-center">
      <% if @user %>
        <li class="nav-item"><%= link_to 'Main', @user, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Main', new_log_in_path, class: "nav-link" %></li>
      <% end %>
      <li class="nav-item"><%= link_to 'Shop', static_show_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to 'Reviews', reviews_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to 'About Us', root_path, class: "nav-link" %></li>
      </ul></u>
      </nav>

      <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://images.unsplash.com/photo-1514846160150-2cfb150b48ea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=339&q=80');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.0)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <br><br><br><br><br><h2 class="mb-3">"When you get confused, just listen to the music play..."</h2>
          <h4><em>-The  Grateful Dead, Franklins Tower, 1975</em></h4>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

    <%= yield %>
    
  <br>
    <% if @logged_in %>
      <%= button_to 'Log out', log_out_path, :method => :delete %>
    <% else %>
      <%= link_to 'Log in', new_log_in_path %>
      Dont have an Account? <%= link_to 'Sign up', new_user_path %>!
    <% end %>

  </body>
</html>