<!DOCTYPE html>
<html>
  <head>
    <title>Vinyl·Fi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <%= error %>
        <% end %>
      <% end %>

      <p> <%= link_to 'Home', @user %> | <%= link_to 'Shop', static_show_path %> | <%= link_to 'About', root_path %> </p>

    <%= yield %>
    
  <br>
    <% if @logged_in %>
      <%= button_to 'Log out', log_out_path, :method => :delete %>
      <% else %>
        Have an account? <%= button_to 'Log in', new_log_in_path %>
    <% end %>

  </body>
</html>
